$heading-logo: 6rem;
$heading-children: 3rem;
$heading-gap: 2rem;
$moveUp: moveUp 1s ease-in;
$moveLeft: moveIn 1s ease-in;
$color-main-text: #f8fafc;
$color-main-feature: #365314;
$color-btn-main: #7986e4;
@mixin gradient-text {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  background: linear-gradient(
    105deg,
    rgba(9, 204, 97, 0.7) 0%,
    rgba(18, 184, 134, 0.7) 60%,
    rgba(245, 245, 244, 0.7) 60%,
    rgba(245, 245, 244, 0.7) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200%;
}

@mixin background {
  background-image: linear-gradient(
      105deg,
      rgba(9, 204, 97, 0.7) 0%,
      rgba(18, 184, 134, 0.7) 60%,
      rgba(245, 245, 244, 0.7) 60%,
      rgba(245, 245, 244, 0.7) 100%
    ),
    url("../home-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 150%;
  max-height: 120vh;;
}
