@import "./partials/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body{
  min-width: 50rem;
  max-width:160rem;
  width:fit-content;
}
.page-description{
  @include gradient-text;
  text-transform: none;
  -webkit-text-fill-color: #fff;;
  font-family: "Roboto",sans-serif;
  text-transform: none;
}
