@import "partials/variables";

.search {
  display: flex;
  border-radius: 11px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  &-image {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%,-50%);
  }
  &-input {
    outline: none;
    border: 0;
    font-size: 2rem;
    line-height: 1.2rem;
    padding: 1rem 2rem;
    &::placeholder {
      font-size: 2rem;
      overflow: hidden;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
    }
  }
  &:hover {
    border-bottom: 0 !important;
  }
}
